@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
/* width */
::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.1);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(255,154,106);
background: linear-gradient(180deg, rgba(255,154,106,1) 0%, rgba(248,164,34,1) 100%);
	border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
html {
	scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.button-stroke {
  text-shadow: -1px -1px 0 #CA4508, 1px -1px 0 #CA4508, -1px 1px 0 #CA4508, 1px 1px 0 #CA4508;
}
.title-stroke {
  text-shadow: -2px -2px 0 #804922, 2px -2px 0 #804922, -2px 2px 0 #804922, 2px 2px 0 #804922;
}
.title-stroke-sm {
  text-shadow: -1px -1px 0 #804922, 1px -1px 0 #804922, -1px 1px 0 #804922, 1px 1px 0 #804922;
}
.title-stroke-lg {
  text-shadow: -3px -3px 0 #804922, 3px -3px 0 #804922, -3px 3px 0 #804922, 3px 3px 0 #804922;
}
.button-text-shadow {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.25);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.ship-animate {
	animation: ship 3s ease-in-out 10s normal forwards infinite;
  }
  
.ship-animate:hover {
	animation: ship 3s ease-in-out 0s 1 normal forwards, 
				ship 3s ease-in-out 10s normal forwards infinite;
	animation-play-state: running; /* Memastikan animasi tetap berjalan */
}
.ship:hover {
  animation: ship 3s ease-in-out 0s 1 normal forwards;
}
.awan1 {
	animation: moveRight 10s linear infinite;
}

.awan2 {
	animation: moveLeft 10s linear infinite;
}
.click {
	animation: clickPulse 1s ease infinite;
}
.paket-title {
	text-shadow: 2px 0px 3px rgba(0,0,0,0.25);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
@keyframes ship {
	0%,
	100% {
		transform: translateY(0) rotate(0) translateX(0);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateY(-30px) rotate(6deg) translateX(-5px);
	}

	30% {
		transform: translateY(15px) rotate(-6deg translateX(-15px));
	}

	45% {
		transform: translateY(-15px) rotate(3.6deg) translateX(-55px);
	}

	60% {
		transform: translateY(9px) rotate(-2.4deg) translateX(-15px);
	}

	75% {
		transform: translateY(-6px) rotate(1.2deg) translateX(-5px);
	}
}
@keyframes moveRight {
	0% {
	  transform: translateX(-520px);
	}
	100% {
	  transform: translateX(130vw);
	}
  }
  
  @keyframes moveLeft {
	0% {
	  transform: translateX(520px);
	}
	100% {
	  transform: translateX(-130vw);
	}
  }
  @keyframes clickPulse {
	0% {
	  transform: scale(1) translateY(25%);
	}
  
	50% {
	  transform: scale(1.1) translateY(25%);
	}
  
	100% {
	  transform: scale(1) translateY(25%);
	}
  }
  